.conversionResultWrapper {
  text-align: center;
  margin-top: 50px;
  height: 100px;

  .result {
    font-size: 36px;
    font-weight: bold;
  }

  .rate {
    font-size: 20px;
    margin-top: 10px;
  }
}
